// main.scss

@font-face {
    font-family: 'Academic M54';
    src: url('../fonts/PretendardVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  // 나머지 SCSS 파일 import
  @import 'game';
  @import 'thrid-game';

  
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }